html, body {
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    flex-grow: 1;
    background-color: #1F2937;
}

.top-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    
}

.header {
    display: flex;
    align-items: center;

    /* border-style: solid;
    border-width: 5px;
    border-color: red; */
}

.logo {
    flex-grow: 1;
    color: #F9FAF8;
    font-size: 24px;
}

.header a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 300px;
}

.hero-left, .hero-right {
    flex: 1;
}

.hero-right{ 
    max-height: 75%;
}

.hero-left h1 {
    color: #F9FAF8;
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #E5E7EB;
}

.hero-left button {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 5px;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}


