html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    flex-grow: 1;
    margin: auto;
    
    /* border-style: solid;
    border-width: 5px;
    border-color: red; */
}

.header {
    display: flex;
    align-items: center;

    /* border-style: solid;
    border-width: 5px;
    border-color: red; */
}

.logo {
    flex-grow: 1;
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

